.act_as_table {
    display: table !important;
    background-color: white;
}
.act_as_row  {
    display: table-row !important;
    page-break-inside: avoid;
}
.act_as_cell {
    display: table-cell !important;
    page-break-inside: avoid;
    /*padding: 2px 2px 2px 2px;*/
    padding-left: 5px;
    padding-right: 5px;
}
.act_as_thead {
    display: table-header-group !important;
}
.act_as_row.labels {
    background-color:#F0F0F0 !important;
}
.data_table {
    width: 100% !important;
    border-left:0px;
    border-right:0px;
    text-align:center;
    font-size:14px;
    padding-right:3px;
    padding-left:3px;
    padding-top:2px;
    padding-bottom:2px;
    border-collapse:collapse;
}
.data_table .act_as_cell{
    border: 1px solid lightGrey;
    text-align: center;
}
.data_table .act_as_cell {
    word-wrap: break-word;
}
.data_table .act_as_row.labels {
    font-weight: bold;
}
.act_as_cell.normal_width{
    width: 5%;
}
.act_as_cell.long_width{
    width:10%;
}
.act_as_cell.very_long_width{
    width: 15%;
}
.act_as_cell.left {
    text-align:left;
}
.act_as_cell.right {
    text-align:right;
}
.custom_footer {
    font-size:7px !important;
}
.button_row {
    padding-bottom: 10px;
}
.o_stock_card_reports_page {
    padding-top: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica, Arial;
}
