<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">DDL and DML</h2>
        <h3 class="oe_slogan">Operations: SELECT, UPDATE, DELETE, etc.</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="images/new_form.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Backup Query</h2>
        <h3 class="oe_slogan">Type syntax to execute in <b>Syntax query</b> column.</h3>
        <h3 class="oe_slogan">Save executed syntax in <b>Backup query</b> if needed.</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="images/syntax_executed.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Trace All Executed SQL Query</h2>
        <h3 class="oe_slogan">Monitoring user and syntax executed.</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="images/log.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Contact</h2>
        <h3 class="oe_slogan" style="color:#FF0000;">me@miftahussalam.com</h3>
        <h3 class="oe_slogan" style="color:#FF0000;"><a href="https://blog.miftahussalam.com/" target="_blank">https://blog.miftahussalam.com/</a></h3>
    </div>
</section>

<section class="oe_container oe_separator">
</section>