<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">

            <h2 class="oe_slogan" style="color: #76536b;font-weight: 300;text-align: center;"> Hide/show the column(s) on the listview dynamically</h2>
            <div class="oe_demo" style=" margin: 30px auto 0; padding: 0 15px 0 0; border:none; width: 96%;">
                <p>This functionality allows user to hide/show column(s) dynamically in listview of any object of any
                    installed module. This module will display a button named "Select Column(s)" just besides of
                    "Create" button in listview.</p>

                <br>
                <p>"Select Column(s)" button contains all field(s) in dropdown with checkbox which will exist in
                    listview of current object. So if user wants to show/hide any field, then he/she has to just do
                    check/uncheck that respective checkbox besides field name in dropdown list and then just click on
                    "Apply" button.</p>
                <p><b>You can get this module from <a target="_blank" href="https://apps.odoo.com/apps/modules/13.0/st_dynamic_preserve_listview/">here</a> with extended feature in V13.</b></p>
            </div>
        </div>
    </div>

    <div class="oe_row oe_spaced">

        <div class="oe_demo"
             style=" margin: 40px auto 0; padding: 0 15px 0 0; border:none; border-top:solid 1px #dedede; width: 96%;">
            <ul>
                <li><p class='oe_mt32'> If you have installed Invoicing module, then you can hide/show column(s) on
                    istview of opportunity like below image.</p></li>
                <li><p>Open listview of Journals in Invoicing module then click on "Select Column(s)" button and you can
                    see
                    opportunity listview columns with checkbox in dropdown menu. Tick/Untick column(s) name checkbox for
                    hide/show column(s) and then just click on "Apply" button. </p></li>
            </ul>
        </div>

        <div class="oe_demo oe_picture oe_screenshot">
            <img src="journal.png" style="border:1px solid black"/>
            <br/>
        </div>

        <div class="oe_demo"
             style=" margin: 60px auto 0; padding: 0 15px 0 0; border:none; border-top:solid 1px #dedede; width: 96%;">
            <ul>
                <li><p class='oe_mt32'> If you have installed Project module, then you can hide/show column(s) on
                    listview of tasks like below image.</p></li>
                <li><p> Open listview of tasks in Project module then click on "Select Column(s)" button and you can see
                    tasks listview columns with checkbox in dropdown menu. Tick/Untick column(s) name checkbox for
                    hide/show column(s) and then just click on "Apply" button. </p></li>
            </ul>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="tasks.png" style="border:1px solid black"/>
            <br/>
        </div>

        <div class="oe_row oe_spaced">
            <div class="oe_demo"
                 style=" margin: 60px auto 0; padding: 0 15px 0 0; border:none; border-top:solid 1px #dedede; width: 96%;">
                <ul>
                    <li><p class='oe_mt32'> If you have installed sale module, then you can hide/show column(s) on
                        listview of sale order like below image.</p></li>
                    <li><p> Open listview of sale orders in sale module then click on "Select Column(s)" button and you
                        can see sale order listview columns with checkbox in dropdown menu. Tick/Untick column(s) name
                        checkbox for hide/show column(s) and then just click on "Apply" button. </p></li>
                </ul>
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="saleorders.png" style="border:1px solid black"/>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12" style="background: #f5fafe;padding: 20px 30px;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="title" style=" border-left: solid 3px #2d5e91; border-right: solid 3px #2d5e91; line-height: 1; padding-left: 15px; padding-right: 15px; color: #2d5e91; font-size: 32px; text-align: center; margin: 20px auto; display: inline-block; font-family: Roboto; ">
                    Our Odoo Services</h1>
            </div>
            <div class="col-12 col-sm-6 col-md-3" style="margin-bottom: 20px;">
                <div class="card text-center bg-info" style="min-height: 90px;">
                    <div class="pt-4"><img src="implementation.png" alt="implementation" style="max-width: 50px; filter: brightness(0) invert(1);"></div>
                    <div class="card-body" style="background-color:inherit !important;">
                        <h5 class="card-title text-white" style="font-size: 19px; font-weight: 400; min-height: 40px;">
                            Odoo Implementation </h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" style="margin-bottom: 20px;">
                <div class="card text-center" style="min-height: 90px;background-color: #00a393; background-color: #98b1c4; ">
                    <div class="pt-4"><img src="support.png" alt="support" style="max-width: 50px; filter: brightness(0) invert(1);"></div>
                    <div class="card-body" style="background-color:inherit !important;">
                        <h5 class="card-title text-white" style="font-size: 19px; font-weight: 400; min-height: 40px;">
                            Odoo Support &amp; Maintenance </h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" style="margin-bottom: 20px;">
                <div class="card text-center" style="min-height: 90px; background-color: #2f4e6f;">
                    <div class="pt-4"><img src="customization.png" alt="customization" style="max-width: 50px; filter: brightness(0) invert(1);"></div>
                    <div class="card-body" style="background-color:inherit !important;">
                        <h5 class="card-title text-white" style="font-size: 19px; font-weight: 400; min-height: 40px;">
                            Odoo Customization </h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" style="margin-bottom: 20px;">
                <div class="card text-center bg-primary" style="min-height: 90px;">
                    <div class="pt-4"><img src="migration.png" alt="migration" style="max-width: 50px; filter: brightness(0) invert(1);"></div>
                    <div class="card-body" style="background-color:inherit !important;">
                        <h5 class="card-title text-white" style="font-size: 19px; font-weight: 400; min-height: 40px;">
                            Odoo Migration </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <section style="text-align:center;">
    <div class="container">
        <a class="btn" style="background-color: #302d2d; color:white; font-size: 25px; margin: 20px auto;"
           target="_blank" href="https://apps.odoo.com/apps/modules/browse?search=surekha">Click here for more
            apps</a>
    </div>
</section>

<section style="padding:20px 15px 30px; text-align:center; clear:both;">
    <div>
        <h2 style="color: #76536b;font-weight:300;text-align: center;">
            Need Any Help?
        </h2>
        <p style="font-weight: 400;">
            Feel free to connect to us via any of following channels.
        </p>
    </div>
    <div>
        <a href="mailto:odooapps@surekhatech.com" class="btn btn-primary btn-md mt8"
           style="background: transparent; color: #333; position: relative; overflow: hidden;">
            <i class="fa fa-envelope"></i> Email
        </a>
        <a href="http://www.surekhatech.com/#contact" class="btn btn-primary btn-md mt8"
           style="background: transparent; color: rgb(51, 51, 51); position: relative; overflow: hidden;"
           target="_blank">
            <i class="fa fa-phone"></i> Contact Us
        </a>
        <a href="http://www.surekhatech.com/odoo-service-provider" class="btn btn-primary btn-md mt8"
           style="background: transparent; color: rgb(51, 51, 51); position: relative; overflow: hidden;"
           target="_blank">
            <i class="fa fa-check-square"></i> Request Customization
        </a>
        <a href="http://www.surekhatech.com/hire-dedicated-developers" class="btn btn-primary btn-md mt8"
           style="background: transparent; color: rgb(51, 51, 51); position: relative; overflow: hidden;"
           target="_blank">
            <i class="fa fa-check-square"></i> Hire Consultant
        </a>
    </div>
</section>

<footer>
    <div class="container oe_black"
         style="background:inherit; width:100%; padding:0 15px; background:rgb(48, 45, 45); color:rgb(255, 255, 255); background: #333;">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h4 style="font-weight:bold; margin:20px 15px 20px; text-align:center; font-size:1.5em; color: #ffffff;">
                        Keep In Touch
                    </h4>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="display:inline-block;width: 100%;border:solid 1px rgb(204, 204, 204);vertical-align:top;text-align:left;margin: 15px 0;">

                                            <span style="display:inline-block; width:65px; vertical-align:middle; border-right:solid 1px; margin-right:12px; padding:10px; line-height:50px;">
                                                <i class="fa fa-phone fa-fw"
                                                   style="display:block; width:40px; margin:auto; margin-top:auto; height:40px; border:solid 1px; line-height: 40px; font-size: 28px; border-radius: 50%; box-shadow: 1px 1px 1px; display: inline-block; margin-top: 10px; text-align: center;"></i>
                                            </span>
                                    <div style="display: inline-block; font-weight: 600; vertical-align: middle; color: #ccc; font-size: 14px; word-wrap: break-word;">
                                                <span style=" font-weight:  bold; color:  #fff; font-size: 16px;">
                                                    Telephone
                                                </span>
                                        <br>
                                        <a href="tel:+917940050848" style="color:inherit;">
                                            +91 79 40050848 (IN)
                                        </a>
                                        <br>
                                        <a href="tel:+14089142737" style="color:inherit;">
                                            +1 408 914 2737 (US)
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div style="display: inline-block;width: 100%;border: solid 1px rgb(204, 204, 204);vertical-align: top;text-align: left;margin: 15px 0;">
                                    <div>
                                        <a href="mailto:enquiry@surekhatech.com" style="color:#fff;">
                                                <span style="display: inline-block; width: 65px; vertical-align: middle; border-right: solid 1px #fff; margin-right: 12px; line-height: 50px; text-align:  center; padding: 10px;">
                                                    <i class="fa fa-envelope-o fa-fw"
                                                       style=" display: block; width: 40px; margin: auto; margin-top: auto; height: 40px; border: solid 1px; line-height: 40px; font-size: 28px; border-radius: 50%; box-shadow: 1px 1px 1px; display: inline-block; margin-top: 10px; text-align: center;"></i>
                                                </span>
                                            <div style="display: inline-block; font-weight: 600; vertical-align: middle; color: #ccc; font-size: 14px; word-wrap: break-word; width: 65%;">
                                                    <span style="font-weight:bold; color:#fff; font-size:16px;">
                                                        Email
                                                    </span>
                                                <br>
                                                enquiry@surekhatech.com
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding: 20px 0; border-top: solid 1px rgb(204, 204, 204); margin-top: 30px; line-height: 40px;">
            <div class="container" style="background: inherit; width: 100%; padding: 0;">
                <div class="row">
                    <div class="col-sm-6">
                        <div style="text-align: left;">
                            <a href="http://www.facebook.com/Surekha.Technologies" target="_blank"
                               style="border: solid 1px rgb(204, 204, 204); margin: 3px; width: 30px; display: inline-block; text-align: center; line-height: 30px; border-radius: 0 10px 0; color:  inherit;">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="http://plus.google.com/+SurekhatechLiferay" target="_blank"
                               style="border: solid 1px rgb(204, 204, 204); margin: 3px; width: 30px; display: inline-block; text-align: center; line-height: 30px; border-radius: 0 10px 0; color: inherit;">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="http://www.linkedin.com/company/surekha-technologies" target="_blank"
                               style="border: solid 1px rgb(204, 204, 204); margin: 3px; width: 30px; display: inline-block; text-align: center; line-height: 30px; border-radius: 0 10px 0; color: inherit;">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a data-show-count="false" href="http://twitter.com/surekhatech" target="_blank"
                               style="border: solid 1px rgb(204, 204, 204); margin: 3px; width: 30px; display: inline-block; text-align: center; line-height: 30px; border-radius: 0 10px 0; color: inherit;">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 footer-text text-right test">
                        Developed by:
                        <a href="http://www.surekhatech.com/" target="_blank" style="color:  inherit;">
                            Surekha Technologies Pvt. Ltd.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
