<div class="container">
    <div class="mt-4 row" style="border-bottom: 1px solid #a7b0bd;padding-bottom: 10px;">
        <div class="col-md-9">
            <a href="#" class="d-flex">
                <img src="logo.png" style="width:48px" />
                <h2 class="mt-1 ml-2 text-black">RP Dev</h2>
            </a>
        </div>
        <div class="col-md-3 mt-4">
            <span class="badge badge-pill badge-primary" style="border: 1px solid rgba(228, 67, 112, 0.1);font-size: 14px;color: #e44370;padding-left: 23px;font-weight: 300;position: relative;">
                <i class="fa fa-check-circle" style="font-size: 14px;position: absolute;left: 5px;top: 2px;font-size: 16px;"></i>
                Community
            </span>
            <span class="badge badge-pill badge-primary" style="border: 1px solid rgba(228, 67, 112, 0.1);font-size: 14px;color: #e44370;padding-left: 23px;font-weight: 300;position: relative;">
                <i class="fa fa-check-circle" style="font-size: 14px;position: absolute;left: 5px;top: 2px;font-size: 16px;"></i>
                Enterprise
            </span>
        </div>
    </div>
    <div class="row pt-5 pb-5" style="border-bottom: 1px solid #a7b0bd;">
        <div class="col-md-12 text-center">
            <h2>Quick search One2many field</h2>
            <p>Allows to search in One2many field.</p>
            <h4 class="oe_slogan">How to use</h4>
            <p>Neeed to give xpath go through README file</p>
            <h4 class="mt-4 text-beta">Before search</h4>
            <img class="img-fluid img-thumbnail mb16" src="images/before_search.png">
            <h4 class="mt-4 text-beta">After search</h4>
            <img class="img-fluid img-thumbnail mb16" src="images/after_search.png">
        </div>
    </div>
</div>
